In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\students\appdata\roaming\python\python39\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\students\appdata\roaming\python\python39\site-packages (from pandas) (2.0.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\students\appdata\roaming\python\python39\site-packages (from pandas) (2024.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('data.csv')
print(df.head())
print(df.tail())
print(df.head(2))
print(df.tail(2))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4
   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
     Duration  Pulse  Maxpulse  Calories
167        75    120       150     320.4
168        75    125       150     330.4

In [8]:
df = pd.read_csv('data.csv')
print(df.shape)

print(df.shape[0])   # 0 shows rows and 1 shows columns

print(df.info)

print(df.describe())

print(df.corr())

print(df.isna().sum())

print(df.iloc())                    # extract 1 row by index

print(df.loc[df["Duration"]<50])    # filter rows

(169, 4)
169
<bound method DataFrame.info of      Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]>
         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000
          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.155408  0.009403  0.922717
Pulse    -0.155408  1.000000  0.786535  0.025121
Maxpulse  0.009403  0.786535  1.000000  0.203813
Calories  0.922717  0.025121  0.203813  1.000000
Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64
<pandas.core.indexing._iLocIndexer object at 0x0000029C6BF91720>
     Duration  Pulse  Maxpulse  Calories
3          45    109       175     282.4
4          45    117       148     406.0
7          45    104       134     253.3
8          30    109       133     195.1
17         45     90       112       NaN
..        ...    ...       ...       ...
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9

[63 rows x 4 columns]

In [10]:
df = pd.read_csv('data.csv')
df.shape

df.shape[0]   # 0 shows rows and 1 shows columns

df.info

df.describe

df.corr

df.isna().sum()

df.iloc()                  # extract 1 row by index

df.loc[df["Duration"]<50]   # filter rows

     Duration  Pulse  Maxpulse  Calories
3          45    109       175     282.4
4          45    117       148     406.0
7          45    104       134     253.3
8          30    109       133     195.1
17         45     90       112       NaN
..        ...    ...       ...       ...
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9

[63 rows x 4 columns]

In [23]:
df = pd.read_csv('data.csv')
print(df.iloc[[2,5,9]])

   Duration  Pulse  Maxpulse  Calories
2        60    103       135     340.0
5        60    102       127     300.0
9        60     98       124     269.0