In [7]:
from faker import Faker

In [8]:
import pandas as pd

In [9]:
import random

In [14]:
fake = Faker()
num_records = 10
data = {
    "Name":[fake.name()for _ in range(num_records)],
    "Email":[fake.email()for _ in range(num_records)],
    "Address":[fake.address().replace("\n",",")for _ in range(num_records)],
    "Phone Number":[fake.phone_number()for _ in range(num_records)],
    "Date Of Birth":[fake.date_of_birth(minimum_age=18,maximum_age=80)for _ in range(num_records)],
}
df = pd.DataFrame(data)
df.to_csv("synthetic_data.csv",index= False)
print(df.head())

                Name                      Email  \
0    David Patterson    wattsthomas@example.org
1        Randy Moore  nicolerobbins@example.net
2        Rose Watson      zachary33@example.org
3       Yvonne Kelly       kylecarr@example.com
4  Colleen Middleton   jamesheather@example.net

                                           Address         Phone Number  \
0           231 David Track,North Rodney, KY 51472         819.853.5068
1     06035 Watson Roads,South Aaronview, MH 75765     001-597-747-6105
2     187 Christopher Divide,South Megan, SC 06516  +1-515-397-1792x854
3  23816 Thompson Squares,New Danielport, NE 31857     696-922-0552x401
4                  PSC 7599, Box 1881,APO AP 38481     642.388.5771x217

  Date Of Birth
0    1968-02-07
1    1960-11-13
2    1956-06-26
3    1968-01-31
4    1983-11-15

In [15]:
t = pd.Timestamp.today()
print(t)
print(t.year)
print(t.month)
print(t.day)
print(t.day_of_week)
print(t.hour)

2025-01-01 15:25:13.491291
2025
1
1
2
15